<div ng-if="authService.isAnonymous()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/login">Login</a></li>
        <li><a href="#/register">Register</a></li>
    </ul>
</div>

<div ng-if="authService.isLoggedIn()" class="box">
    <h2>Navigation</h2>
    <ul class="sidebar-menu">
        <li><a href="#/">Home</a></li>
        <li><a href="#/user/ads">My Ads</a></li>
        <li><a href="#/user/publish">Publish New Ad</a></li>
        <li><a href="#/user/editProfile">Edit Profile</a></li>
        <li><a ng-click="authService.removeUser()">Logout</a></li>
    </ul>
</div>